@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fonter*/
.logo,#s1home, #s2home, #introtext, #present, #explain, #preshead, .sec1, .sec2, .sec3, .sec4, .nav{
    font-family: 'Montserrat', sans-serif;
}

/*Text align center på texter och rubriker*/
footer, h2, #present p, #explain, #preshead, .sec1, .sec2, .sec3{
    text-align: center;
}

/*Fontstorlek på långa textstycken*/
#introtext, #s1home, #s2home, p, .sec1, .sec2, .sec3, .sec4, #presentation p, #present p, #p1 p, #p2 p, #p3 p, #p4 p{
    font-size: 15px;
    color: white;
}

#explain p{
    color: black;
}

#introbild{
    grid-area: introbild;
}
picture, img, source, .main2 img, .main2 picture, .sec2img2, .sec3img1{
    width: 570px;
    height: 500px;
    padding-left: 3px;
}

section, picture, img{
    padding-bottom: 20px;
}
.logo{
    text-align: center;
    background-color: teal;
    padding: 10px;
    color: white;
    font-size: 30px;
}
a{
    color: white;
    padding: 5px 14px;
}

nav a{
    text-decoration: none;
}

.a1{
    grid-area: a1;
}
.a2{
    grid-area: a2;
}

.a3{
    grid-area: a3;
}
.a4{
    grid-area: a4;
}
.a5{
    grid-area: a5;
}
.a6{
    grid-area: a6;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "a1"
                        "a2"
                        "a3"
                        "a4"
                        "a5"
                        "a6";
    padding: 20px;
    background-color: teal;
    color: #fff;
    /* text-align: center; */
    visibility: hidden;
}

.icon i{
    visibility: visible;
}

.navbar a{
    margin: 15px 15px 15px 15px;
}
.navbar a:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }

h1 {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    margin-left: 10px;
}

/* *Fixa bakgrundsfärg */
footer {
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    bottom: 0px;
}

#s1home, #sec1 {
    grid-area: s1home;
}

#img1 {
    grid-area: bild1;
}


.main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 500px 500px 1fr;
    grid-template-areas: "introtext"
                        "introbild"
                        "bild1"
                        "s1home";
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%); 
}

.main2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 400px 1fr 400px;
    grid-template-areas: "sec1"
                        "sec2"
                        "sec2img"
                        "sec3"
                        "sec3img";
    background-color: #3AA4EA;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}

#main3 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 400px 1fr 400px 1fr 400px;
    grid-template-areas: "sec1"
                        "sec2"
                        "sec2img"
                        "sec3"
                        "sec3img"
                        "sec4"
                        "sec4img";
    background-color: #3AA4EA;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}


.sec1{
    grid-area: sec1;
}
.sec2{
    grid-area: sec2;
}
.sec2img{
    grid-area: sec2img;
}
.sec3{
    grid-area: sec3;
}
.sec3img{
    grid-area: sec3img;
}
#introtext {
    grid-area: introtext;
    padding-top: 20px;
}

#p1{
    grid-area: p1;
}

#p2{
    grid-area: p2;
}

#p3{
    grid-area: p3;
}

#p4{
    grid-area: p4;
}

.sec4{
    grid-area: sec4;
}
.sec4img1{
    grid-area: sec4img;
}
#present{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "p1 p2"
                        "p3 p4";
    gap: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}


#presentation{
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    height: 100vh;
    width: 100%;
    color: white;
}


#explain, #preshead{
    margin-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
}
#preshead{
    margin-bottom: 10px;
}



/*Tablet*/
@media only screen and (min-width: 600px) {
    .logo a{
    display: none;
    }
    .main{
        gap: 5px;
    }
    footer{
        font-size: 25px;
    }
    #iconi{
        visibility: visible;
    }
}


/*Laptop*/

@media only screen and (min-width: 769px) {
    .main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 780px;
        gap: 30px;
        grid-template-areas: "introtext introbild"
                            "s1home bild1";
    }
    #introtext, #s1home, p, .sec1, .sec2, .sec3, .sec4, #presentation p, #present p{
        font-size: 18px;
    }
    #present{
        display: flex;
        justify-content: space-evenly;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }
    #img1 img, #img2 img{
        width: 100%;    
    }
    #s1home{
        width: 50vw;
    }
    .main2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 1fr 1fr;
        grid-template-areas: "sec1 sec1"
                            "sec2 sec2img"
                            "sec3img sec3";
        gap: 90px;
    }
    #main3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 1fr 1fr 1fr ;
        grid-template-areas: "sec1 sec1"
                            "sec2 sec2img"
                            "sec3img sec3"
                            "sec4 sec4img";
        gap: 10px;
    }

    picture, img, source, .main2 img, .main2 picture, .sec2img, .sec3img1{
        width: 35vw;
        height: 550px;
        margin-top: 12px;
    }
    #introbild picture{
        width: 300px;
        height: 300px;
    }

    .navbar{
        display: flex;
        visibility: visible;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .navbar a{
        font-size: 20px;
    }
    .icon{
        visibility: hidden;
    }
    .material-symbols-outlined{
        visibility: visible;
    }
}


/*Desktop*/
@media only screen and (min-width: 2000px){
    picture, img, source, .main2 img, .main2 picture, .sec2img, .sec3img1{
        width: 1000px;
        height: 700px;
        margin-top: 12px;
    }
    #introtext, #s1home, #s2home, p, .sec1, .sec2, .sec3, .sec4, #presentation p, #present p{
        font-size: 20px;
    }

}